<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <% article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
      <% if article.image.exists? %>
        <p><%= image_tag article.image.url %></p>
      <% end %>
      <p><%= article.body %></p>
      <%= link_to "Comments (#{article.comments.count})", article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
